/***********************
G E N E R A L 
***********************/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%; /*relative width of browser*/
  
  /* responsive webdesign */

}

h3{
  margin: 0 0 1em 0;

}

/***********************
H E A D I N G 
***********************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: 100;
  line-height: 0.8em;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: 100;
}

/***********************
N A V I G A T I O N
***********************/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 15px 10px;

}
/***********************
F O O T E R
***********************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon{
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/***************************
 P A G E: P O R T F O L I O
***************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none; /*remove any time of bullet points */
}

#gallery li{
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #F5F5F5;
  color: #BDC3C7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #BDC3C7;
}

/***********************
P A G E: A B O U T
***********************/

.profile-photo{
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/***********************
P A G E: C O N T A C T
***********************/
.contact-info{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}
.contact-info a{
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}
.contact-info li.mail a{
  background-image: url('../img/email.png');
}
.contact-info li.twitter a{
  background-image: url('../img/twitter.png');
}

/***********************
PAGE: Projects
***********************/

.illustration li.wordcloud a{
  background-image: url('../img/wordcloud.png');
}


/***********************
C O L O R
***********************/

a {
  color: #2980B9;
}

/* dark blue header */
header {
  background: #225378; /*Dark Blue*/
  border-color: #EB7F00; /*Orange*/
}
/*Project.html*/
#project {
  background: #da1f28; /*Wells Fargo Red*/
  border-color: #f0c500; /*Wells Fargo Yellow*/
}

#navigation a{
  color: #f0c500; /*Wells Fargo Yellow*/
}
/* selected nav link Project.html*/
#navigation a.selected, #navigation a:hover {
  color: #fff;
}

/* logo text */
h1, h2 {
  color: #ffffff;
}
/* nav background */
nav {
  background: #EB7F00;
}
/* nav link */
nav a, nav a:visited {
  color: #1695A3; /*LighterBlue*/
}
/* selected nav link */
nav a.selected, nav a:hover {
  color: #fff;
}
/* site body */
body {
  background-color: #fff;
  color: #999;
}